static {
  const includeTarget = require(process.cwd() + '/app/application/index.marko');
}

<include(includeTarget, input)>
  <@main>
    <div>
      <h1>hello <%= name %></h1>
      <p>
        node version: ${input.node}<br>
        v8 version: ${input.v8}
      </p>
    </div>
  </@main>
</include>
